<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Branko haberkon - brankoh@restpoint.com.ar">
  <title>Ejemplos ADMIN PANEL</title>
  <link href="https://fonts.googleapis.com/css?family=Lemonada|Permanent+Marker|Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/css.css">
  <link rel="stylesheet" href="css/profiles.css">
  <link rel="stylesheet" href="css/admin.css">
  <!-- <link rel="stylesheet" href="css/svg.css"> -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
  <div id="app" class="bg-light d-flex flex-column justify-content-between">
    <nav class="navbar navbar-light bg-orange navbar-expand-md">
      <a class="navbar-brand mr-4" href="">
        <img id="logo" class="d-none d-sm-inline" src="img/logo.png" alt="logo">
        <img id="logo" class="d-sm-none" src="img/isologo.png" alt="logo">
        <h1 class="text-white d-inline ">Snippets</h1>
        <span class="d-none d-xl-inline"> | Panel de administración</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li v-show="loggedIn" class="nav-item">
            <a class="nav-link" href="#" id="logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="m-0 flex-grow-1 d-flex flex-wrap align-items-center justify-content-center">

      <div v-show="!loggedIn" class="container logged-out">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">Login</div>
              <div class="card-body">
                <form id="login-form">
                  <div class="form-group row">
                    <label for="email_address" class="col-md-4 col-form-label text-md-right">E-mail</label>
                    <div class="col-md-6">
                      <input type="text" id="login-email" class="form-control" name="email-address" required autofocus>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                    <div class="col-md-6">
                      <input type="password" id="login-password" class="form-control" name="password" required>
                    </div>
                  </div>



                  <div class="col-md-6 offset-md-4">
                    <button type="submit" class="btn btn-primary">
                                    Iniciar sesión
                                </button>
                    <a href="#" class="btn btn-link">
                                    Forgot Your Password?
                                </a>
                    <span class="loading"></span>
                    <p class="error pink-text center-align"></p>
                  </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div v-if="loggedIn" class="col-11">
        <div class="row my-3">
          <button class="btn btn-purple" data-toggle="modal" data-target="#altaModulo">Agregar módulo</button>
        </div>
        <div id="table-wrapper" class="row">
          <table id="tabla-modulos" class="table table-sm table-light table-hover table-striped m-0">
            <thead>
              <tr class="bg-orange text-center">
                <th scope="col">#</th>
                <th scope="col">Nombre frontcard</th>
                <th scope="col">Titulo</th>
                <th scope="col">Demo URL </th>
                <th scope="col">Detalle</th>
                <th scope="col">Imagen Carátula</th>
                <th scope="col">URL del repo</th>
                <th scope="col">Tags</th>
                <th scope="col">Autor</th>

              </tr>
            </thead>
            <tbody>
              <tr v-for="modulo,index in modulos">
                <th scope="row"> {{index+1}}</th>
                <td> {{modulo.nombre}} </td>
                <td> {{modulo.titulo}} </td>
                <td> {{modulo.demoUrl}} </td>
                <td> {{modulo.detalle}} </td>
                <td>
                  <a target="_blank" :href=modulo.imagenURL v-tooltip:auto.hover.html="modulo.imagenTooltip">Ver original</a>
                </td>
                <td> {{modulo.repoUrl}} </td>
                <td> {{modulo.tags}} </td>
                <td> {{modulo.autor}} </td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>

    </main>

    <footer class="bg-orange text-white d-flex flex-wrap justify-content-around p-3 sticky">
      <div class="col-12 col-sm-3 text-center">Made in &#x1F1E6;&#x1F1F7; by</div>
      <div class="col-12 col-sm-6 text-center">
        <a class="d-inline-block mx-3" href="https://github.com/brankohbk" target="_blank"><img class="github-logo-mini" src="./img/invertocat.png" alt="github">/brankohbk</a>
        <span class="d-inline d-sm-none d-md-inline">|</span>
        <a class="mx-3" href="https://github.com/rodrigr" target="_blank"><img class="github-logo-mini" src="./img/invertocat.png" alt="github">/rodrigr</a>
      </div>
      <div class="col-12 col-sm-3 text-center">&copy; 2020</div>
    </footer>

    <!-- MODALS -->
    <div class="modal fade" id="altaModulo" tabindex="-1" role="dialog" aria-labelledby="altaModuloLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-notify danger " role="document">
        <div class="modal-content bg-orange">
          <div class="modal-header bg-orange">
            <h5 class="modal-title" id="altaModuloLabel">Alta de módulo nuevo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="section-title title-left text-center text-lg-left">
                    <form id="create-form">
                      <div class="form-group">
                        <div class="form-group">
                          <label for="nombre">Nombre frente</label>
                          <input class="form-control" type="text" id="nombre" placeholder=".nombre" value="">
                        </div>
                        <div class="form-group">
                          <label for="titulo">Titulo dorso</label>
                          <input class="form-control" type="text" id="titulo" placeholder="Titulo del tema" value="">
                        </div>
                        <div class="form-group">
                          <label for="autor">Autor</label>
                          <input class="form-control" type="text" id="autor" placeholder="John Doe" value="">
                        </div>
                        <div class="form-group">
                          <label for="descripcion">Descripcion</label>
                          <textarea name="msg" maxlength="140" rows="5" class="form-control" id="detalle" placeholder="En este ejemplo vemos...." value=""></textarea>

                        </div>
                        <div class="form-group">
                          <label for="demoUrl">URL a la DEMO</label>
                          <input class="form-control" type="text" id="demoUrl" placeholder="https://brankohbk.github.io/jsobjects/index.html">
                        </div>
                        <div class="form-group">
                          <label for="repoUrl">URL del Repositorio</label>
                          <input class="form-control" type="text" id="repoUrl" placeholder="https://github.com/brankohbk/jsobjects">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="tags">Etiquetas</label>
                        <input class="form-control" type="" id="tags" placeholder='prueba,carga,datos'>
                      </div>
                      <div class="form group row">
                        <div class="col-lg-3">
                          <label for="subirImagen"></label>
                          <div class="fileUpload btn btn-sm btn-secondary m-auto">
                            <span>Subir imagen</span>
                            <input class="upload" type="file" id="subirImagen" value="">
                          </div>
                        </div>
                        <div class="row mt-1 col-lg-9">
                          <div id="subidaProgreso" class="col-12">
                            <div class="progress">
                              <div class="bg-orange progress-bar progress-bar-striped progress-bar-animated text-dark">Esperando imagen para subir...</div>
                            </div>
                          </div>
                          <div id="vistaPreviaSubida" class="col-12  m-auto">
                            <img alt="vista previa" />
                          </div>
                        </div>
                      </div>

                      <div class="error"></div>

                      <div class="form-group my-3 text-right">
                        <button id="aceptar" class="btn btn-purple" disabled>Agregar módulo</button>
                        <span class="loading">Guardando...</span>
                      </div>
                    </form>
                  </div>
                </div>
              </div>


            </div>

            <!-- end .modal-body -->
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-purple" data-dismiss="modal">Cerrar</button> -->
          </div>
        </div>
      </div>
    </div>


    <!-- END OF app -->
  </div>
  <script src="https://www.gstatic.com/firebasejs/7.13.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.13.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.13.0/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.13.0/firebase-functions.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.13.0/firebase-storage.js"></script>

  <script src="js/jquery-3.3.1.slim.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/fb.js"></script>
  <!-- <script src="js/vue.js"></script> -->
  <script src="js/vue.min.js"></script>
  <script src="js/adminVue.js"></script>
  <script src="js/admin.js"></script>
  <!-- <script>
    $(document).ready(function() {
      $('[data-toggle="popover"]').popover({
        trigger: 'hover',
        html: true,
        content: function() {
          return '<img class="img-fluid" src="' + $(this).data('img') + '" />';
        },
        title: 'Toolbox'
      })
    });
  </script> -->

</body>

</html>