<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Branko haberkon - brankoh@restpoint.com.ar">
  <title>Ejemplos</title>
  <link href="https://fonts.googleapis.com/css?family=Lemonada|Permanent+Marker|Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/css.css">
  <link rel="stylesheet" href="css/profiles.css">
  <!-- <link rel="stylesheet" href="css/svg.css"> -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
  <div id="app" class="bg-light d-flex flex-column justify-content-between">
    <nav class="navbar navbar-light bg-orange navbar-expand-md">
      <a class="navbar-brand mr-4" href="">
        <img id="logo" class="d-none d-sm-inline" src="img/logo.png" alt="logo">
        <img id="logo" class="d-sm-none" src="img/isologo.png" alt="logo">
        <h1 class="text-white d-inline ">Snippets</h1>
        <span class="d-none d-xl-inline"> | Ejemplos para explicaciones en clase.</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler">
        <input class="form-control mr-sm-2 ml-auto my-2 my-lg-0" type="text" name="search" placeholder="Buscar por tema..." v-model="search" id="search">
        <ul class="navbar-nav mt-2 mt-lg-0">
          <li class="nav-item ">
            <a class="nav-link " href="#" data-toggle="modal" data-target="#filtros">Filtros</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#references">References</a>
          </li>
        </ul>
      </div>
    </nav>

    <main v-if="loaded" class="m-0 flex-grow-1 d-flex flex-wrap align-items-center justify-content-center">
      <!-- <div id="wrapper"></div> -->

      <transition name="fade" id="ejemplos" mode="out-in">
        <div class="col-8 text-center d-flex justify-content-center" id="empty-search" v-if="filtered.length==0">
          <p class="text-light my-auto">No se encontró ningún ejemplo del tema buscado.</p>
        </div>
      </transition>
      <component is="cards" :modulos="filtered"></component>
      <component is="quote" :quote="qod"></component>

    </main>
    <div v-else class="m-0 flex-grow-1 d-flex flex-column align-items-center justify-content-center">
      <img src="img/loader.svg" alt="loading...">
      <p>Cargando...</p>
    </div>

    <footer class="bg-orange text-white d-flex flex-wrap justify-content-around p-3 sticky">
      <div class="col-12 col-sm-3 text-center">Made in &#x1F1E6;&#x1F1F7; by</div>
      <div class="col-12 col-sm-6 text-center">
        <a class="d-inline-block mx-3" href="https://github.com/brankohbk" target="_blank"><img class="github-logo-mini" src="./img/invertocat.png" alt="github">/brankohbk</a>
        <span class="d-inline d-sm-none d-md-inline">|</span>
        <a class="mx-3" href="https://github.com/rodrigr" target="_blank"><img class="github-logo-mini" src="./img/invertocat.png" alt="github">/rodrigr</a>
      </div>
      <div class="col-12 col-sm-3 text-center">&copy; 2020</div>
    </footer>




    <div class="modal fade" id="references" tabindex="-1" role="dialog" aria-labelledby="referencesLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="referencesLabel">References | <small>ver.20200223</small> </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Catálogo con ejemplos para explicar temas puntuales en clases de frontend.</p>

            <!-- end .modal-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-purple" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="filtros" tabindex="-1" role="dialog" aria-labelledby="filtrosLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="filtrosLabel">Filtros</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <p>PRÓXIMAMENTE</p>
            <p>Filtros por etiquetas</p>
            <div class="form-group">
              <template v-for="tag in tags">
                <label class="m-2">
                  <input type="checkbox" name="tag" :id="tag" :value="tag"> {{tag}} 
                </label>
              </template>

            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-purple" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="js/jquery-3.3.1.slim.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/vue.js"></script>
  <!-- <script src="js/vue.min.js"></script> -->
  <script src="js/main.js"></script>
  <!-- <script src="js/Card.js"></script>
  <script src="js/svg.js"></script> -->
</body>

</html>